@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Koulen&family=Outfit:wght@400;700;900&family=Rajdhani:wght@300;400;500;700&family=Source+Code+Pro:wght@500&display=swap');

body {
    font-family: Outfit, Arial, sans-serif;
    margin: 0;
}

.black-button {
    appearance: none;
    padding: 11px;
    margin-top: 24px;
    width: 80px;
    border: none;
    border-radius: 40px;
    background: #12223E;
    color: #FFF;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    cursor: pointer;
}