.npo-feed h1 {
  color: #12223e;
  text-align: center;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.76px;
  text-transform: uppercase;
  margin-left: -200px;
}

.npo-feed-image {
  margin-left: -200px;
  padding: 25px 0 50px 0;
  border-bottom: 3px red;
}

span {
  color: #ea6f67;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.76px;
  text-transform: uppercase;
}

.npo-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-top: 100px;
}

.feed {
  display: flex;
  justify-content: space-between;
}

.labels,
.accordion-title {
  display: flex;
  width: 1100px;
  padding: 32px 40px;
  justify-content: space-evenly;
  align-items: start;
  color: rgba(18, 34, 62, 0.5);
  font-family: Outfit;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.accordion-title-item,
.accordion-content,
.labels {
  flex-basis: 20%;
}

.accordion-title-item {
  cursor: pointer;
}

.accordion-title {
  color: #12223e;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

.order-buttons {
  display: flex;
  margin: 20px 0;
}

.pick-up-order-button {
  display: flex;
  padding: 11px 16px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 40px;
  background: #12223e;
  color: #fff;
  text-align: right;
  font-family: Outfit;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-right: 10px;
}

.cancel-order-button {
  display: flex;
  padding: 11px 16px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 40px;
  border: 1px solid #12223e;
  color: #12223e;
  text-align: right;
  font-family: Outfit;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.drop-down {
  margin-left: 75px;
}

.accordion-item {
  border-top: 1px solid #edece8;
  width: 83%;
}
